* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}
.hero-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.additional-text {
  font-size: 1.8rem;
}
.top-hero {
  position: relative;
  height: 20rem;
  background-size: cover;
  z-index: 0;
}
.top-hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3.6rem;
  text-transform: uppercase;
}
/* ----------- */
/*  nawigacja  */
/* ----------- */
nav {
  font-size: 2rem;
  text-transform: uppercase;
}
.navbar-toggler {
  font-size: 3rem;
}
.navbar-brand {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: none;
}
/* ----------- */
/*    header   */
/* ----------- */
header {
  font-size: 2rem;
}
.carousel-item {
  position: relative;
  height: 400px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.carousel-img-one {
  background-image: url("./img/b1m.jpg");
}
.carousel-img-two {
  background-image: url("./img/b2m.jpg");
}
.carousel-img-three {
  background-image: url("./img/b4m.jpg");
}
/* ----------- */
/*     main    */
/* ----------- */
.home-boxes {
  padding: 5rem 0;
}
.home-box i {
  font-size: 4rem;
}
.home-box h3 {
  font-size: 2.6rem;
}
/* ----------- */
.home-passion {
  position: relative;
  height: 350px;
  background-image: url("./img/b8m.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
/* ----------- */
.home-brand h3 {
  font-size: 3rem;
  font-weight: bold;
}
/* ----------- */
/*   aboutus   */
/* ----------- */
.aboutus-hero {
  background-image: url("./img/obrazek1.jpg");
  background-position: bottom;
}
/* ----------- */
.aboutus-top .display-3 {
  text-transform: uppercase;
}
/* ----------- */
.aboutus-info {
  background-color: rgba(0, 0, 0, 0.3);
}
.aboutus-info .container {
  padding: 2em 0.5em;
}
.aboutus-text {
  padding: 1.8rem;
}
/* ----------- */
/*    footer   */
/* ----------- */
footer {
  font-size: 1.6rem;
}
@media (min-width: 1400px) {
  .carousel-item {
    height: 600px;
  }
  .carousel-img-one {
    background-image: url("./img/b1.jpg");
  }
  .carousel-img-two {
    background-image: url("./img/b2.jpg");
  }
  .carousel-img-three {
    background-image: url("./img/b4.jpg");
  }
}
